<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Question</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'reset.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            console.log('jquery working');
        });
    </script>
</head>

<body>
    <nav>
        <ul>
            <li>
                <a href="/home">Home</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <a href="/comm_posts">Community Posts</a>
            </li>
            <li>
                <a href="/resources">Resources Available</a>
            </li>
        </ul>
    </nav>

    <h1>Welcome to Math+C, {{this_user.first_name}} {{this_user.last_name}}</h1>
    <div class="door">
        <p>
            <a href="/logout">Log Out</a>
        </p>
    </div>
    <h2>Viewing Question # {{this_question.id}}</h2>
    <div id="feed_qs">
        <div id="your_qs">
            <div class="single_qs">
                <h3>Topic is:</h3>
                <p class="topic_q">{{this_question.topics}}</p>
                <h3>Question is:</h3>
                <p class="topic_q">{{this_question.description}}</p>
            </div>
        </div>
        <div id="tis_solved">
            <h3>This question is:</h3>
            {% if this_question.is_solved == True %}
            <h3>Solved</h3>
            {% else %}
            <h3>Not Solved</h3>
            {% endif %}
        </div>
        <div id="comm_q2">
            {% if this_solution %} {% for solution in this_solution %}
            <div class="single_qs">
                <h4>Solution:</h4>
                <p> {{solution.attempt}} </p>
                <a href="/solution/{{solution.id}}">View</a>
                <h5 class="agrees">Agrees: {{solution.agrees}}</h5>
            </div>
            {% endfor %} {% else %}
            <h4>Solution: None Yet </h4>
            {% endif %}
        </div>
    </div>
    <div id="post_q">
        <h4>Attempt the problem?</h4>
        <form action="/question_attempt/{{this_question.id}}" method="POST">
            {% csrf_token %}
            <div>
                <label for="attempt" class="qlabel">Attempt the problem:</label>
                <input type="text" name="attempt" id="sol_attempt" value="<YOUR ATTEMPT HERE>">
            </div>
            <div>
                <label for="resource" class="qlabel">Add a resource link</label>
                <input type="url" name="resource" id="link">
            </div>
            <div>
                <button type="submit">Attempt</button>
                <button id="go_back"><a href="/home">Back</a></button>
            </div>
        </form>
    </div>
</body>

</html>

</html>