<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Question</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'reset.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <div>
        <nav>
            <ul>
                <li>
                    <a href="/home">Home</a>
                </li>
                <li>
                    <a href="">About</a>
                </li>
                <li>
                    <a href="">Community Posts</a>
                </li>
                <li>
                    <a href="">Resources Available</a>
                </li>
            </ul>
        </nav>
    </div>

    <h1>Welcome to Math+C, {{user.first_name}}</h1>
    <div class="door">
        <p>
            <a href="/logout">Log Out</a>
        </p>
    </div>
    <h2>Viewing Question # {{this_question.id}}</h2>
    <div id="feed_qs">
        <div id="your_qs">
            <h4>Topic is:</h4>
            <p>{{this_question.topics}}</p>
            <h4>Question is:</h4>
            <p>{{this_question.description}}</p>
        </div>

        <div id="comm_qs">
            {% if this_solution %} {% for solution in this_solution %}
            <h4>Solution:</h4>
            <p> {{solution.attempt}} </p>
            <a href="/solution/{{solution.id}}">View</a> {% endfor %} {% else %}
            <h4>Solution: None Yet </h4>
            {% endif %}
        </div>
    </div>
    <div id="post_q">
        <h4>Attempt the problem:</h4>
        <form action="/question_attempt/{{this_question.id}}" method="POST">
            {% csrf_token %}
            <div>
                <label for="attempt" class="qlabel">Attempt the problem:</label>
                <input type="text" name="attempt" id="sol_attempt" value="<YOUR ATTEMPT HERE>">
            </div>
            <div>
                <label for="resource" class="qlabel">Add resource link</label>
                <input type="url" name="resource" id="link">
            </div>
            <button type="submit">Attempt</button>
        </form>
        <button><a href="/home">Back</a></button>
    </div>
</body>

</html>

</html>