<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Solution</title>
</head>

<body>
    <h2>Welcome, {{this_user.first_name}} {{this_user.last_name}}</h2>
    <p>
        <a href="/logout">Log Out</a>
        <a href="/home">Home</a>
    </p>
    <h3>Viewing Solution # {{this_solution.id}} for Question # {{this_solution.solution_for.id}}</h3>
    <h4>Question: </h4>
    <p>{{this_solution.solution_for.description}}</p>
    <h4>Solution:</h4>
    <p>{{this_solution.attempt}}</p>
    <button><a href="">Agree</a></button>
    <button><a href="">Refute</a></button>
</body>

</html>