<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Solution</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'reset.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <div>
        <nav>
            <ul>
                <li>
                    <a href="/home">Home</a>
                </li>
                <li>
                    <a href="">About</a>
                </li>
                <li>
                    <a href="">Community Posts</a>
                </li>
                <li>
                    <a href="">Resources Available</a>
                </li>
            </ul>
        </nav>
    </div>

    <h1>Welcome to Math+C, {{user.first_name}}</h1>
    <div class="door">
        <p>
            <a href="/logout">Log Out</a>
        </p>
    </div>
    <h3>Viewing Solution # {{this_solution.id}} for Question # {{this_solution.solution_for.id}}</h3>
    <div id="view_sol">
        <h4>Question: </h4>
        <p>{{this_solution.solution_for.description}}</p>
        <h4>Solution:</h4>
        <p>{{this_solution.attempt}}</p>
        <button><a href="/agree">Agree</a></button>
        <button><a href="/refute">Refute</a></button>
    </div>
</body>

</html>