<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logged In</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'reset.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <nav>
        <ul>
            <li>
                <a href="/home">Home</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <a href="/comm_posts">Community Posts</a>
            </li>
            <li>
                <a href="/resources">Resources Available</a>
            </li>
        </ul>
    </nav>


    <h1>Welcome to Math+C, {{user.first_name}} {{user.last_name}}</h1>
    <!-- <h3>You have successfully registered (or logged in)</h3> -->
    <div class="door">
        <p>
            <a href="/logout">Log Out</a>
        </p>
    </div>
    <div id="feed_qs">
        <div id="your_qs">
            <h3>Your posted questions:</h3>
            {% if questions %} {% for question in questions %}
            <div class="single_qs">
                <h5>Question # {{question.id}}</h5>
                <p>Subject: {{question.topics}}</p>
                <p>{{question.description}}</p>
                <a href="/question/{{question.id}}">View</a>
            </div>
            {% endfor %}{% endif %}
        </div>
        <div id="comm_qs">
            <h3>Community Posted Questions:</h3>
            {% if all_questions %}{% for question in all_questions %}
            <div class="single_qs">
                <h5>Question # {{question.id}}</h5>
                <p>Subject: {{question.topics}}</p>
                <h6>Posted by: {{question.uploaded_by.first_name}}</h6>
                <p>{{question.description}}</p>
                <a href="/question/{{question.id}}">View</a>
            </div>
            {% endfor %}{% endif %}
        </div>
    </div>
    <div id="post_q">
        <h3>Post a math question</h3>
        <form action="/post_question" method="POST">
            {% csrf_token %}
            <div>
                <label for="topic" class="qlabel">Math Subject:</label>
                <label for="topic">College Algebra</label>
                <input type="radio" name="topic" value="algebra">
                <label for="topic">Precalculus</label>
                <input type="radio" name="topic" value="precalculus">
                <label for="topic">Calculus</label>
                <input type="radio" name="topic" value="calculus">
                <label for="topic">Calculus 2</label>
                <input type="radio" name="topic" value="calculus2">
            </div>
            <div>
                <label for="description" class="qlabel">Description:</label>
                <input type="text" name="description" id="q_desc">
                <button type="submit">Post</button>
            </div>
    </div>
    </form>
</body>

</html>